<div class="container-fluid m-0 py-5 px-3 h-100">
  <div class="container my-5 py-5 px-3">
    <h1 class="text-white font-weight-bold mb-5">LET ME INTRODUCE MYSELF</h1>
    <p class="text-white">
      I'm the kind of guy who gets deeply involved (<i>more like obsessed</i> ) in every
      hobby I take up. However, I like to think this gives me a powerful drive
      to learn things at a deep level. Some of my interests include building web
      apps, user experience design, videography/filmmaking, and recently a
      little bit of machine learning. I'm also creating YouTube videos about my
      programming projects, life at University of Toronto Computer Engineering,
      technology and various other topics in an effort to showcase interesting
      creations of mine, and share my ideas with the world.
    </p>
    <p class="text-white font-weight-bold mb-5">
      Check out some of my notable projects below
    </p>

    <div class="row">
      <div class="col-4">
        <h4 class="text-white">Software</h4>
        <ul>
          <li class="text-white">
            MGMT - a project management application built for students working
            in teams
          </li>
        </ul>
      </div>
      <div class="col-4">
        <h4 class="text-white">Hardware</h4>
        <ul>
          <li class="text-white">
            Automated plant watering system connected to a custom app
          </li>
        </ul>
      </div>
      <div class="col-4">
        <h4 class="text-white">Video</h4>
        <ul>
          <li class="text-white">
            Project videos outlining the development of some of my projects
          </li>
          <li class="text-white">
            So Now What? - A series dedicated to giving future UofT
            engineering/University students advice before they start
          </li>
          <li class="text-white">Technology reviews</li>
          <li class="text-white">
            Video essays regarding a wide variety of topics
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
