<div class="container-fluid m-0 py-5 px-5 h-100">
  <div class="container py-5 px-3">

    <div class="spacer">
      &nbsp;
    </div>
    <div class="media">
      <img class="achu-photo mr-5 align-self-center" src="../../../assets/CDB0C2F2-E42C-47CF-92B7-117CE7123E36.JPG.jpg">
      <div class="media-body align-self-center">
        <h3 class="text-white font-weight-bold mt-0 mb-3">LET ME INTRODUCE MYSELF</h3>
        <p class="text-white mb-0">
          I'm the kind of guy who gets deeply involved (<i>more like obsessed</i> ) in every
          hobby I take up. However, I like to think this gives me a powerful drive
          to learn things at a deep level. Some of my interests include building web
          apps, user experience design, (recently) machine learning, as well as videography/filmmaking.
          <br /><br />
          <b>I'm currently looking for Summer 2020 internships!</b>
      </div>
    </div>

    <div class="spacer">
      &nbsp;
    </div>

    <div class="row"></div>
      
</div>