.navbar {
  cursor: pointer;
  background: transparent;
  transition: 500ms ease !important;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  cursor: pointer;
  transition: 500ms ease;
}
.nav-link {
  cursor: pointer;
  transition: 500ms ease;
}
.navbar-brand {
  transition: 500ms ease;
}
