<div class="navbar navbar-expand navbar-dark fixed-top">
  <a class="navbar-brand d-inline-flex align-middle" style="color: white;"
    >Achu Mukundan</a
  >
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/my-projects">My Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/resume">Resume</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto mr-5 d-inline-flex">
    <li class="link">
      <a href="https://github.com/achuthanmukundan00/"
        ><img
          src="../../../../assets/GitHub-Mark-Light-32px.png"
          class="m-2"
          style="width: 1.2rem;"
      /></a>
    </li>
    <li class="link">
      <a href="https://www.linkedin.com/in/achu-m/"
        ><img
          src="../../../../assets/In-White-36px.png"
          class="m-2"
          style="width: 1.2rem;"
      /></a>
    </li>
    <li class="link">
      <a href="https://www.youtube.com/wonderpictures"
        ><img
          src="../../../../assets/yt_icon_mono_dark.png"
          class="m-2"
          style="width: 1.2rem;"
      /></a>
    </li>
  </ul>
</div>

<div class="container-fluid p-0">
  <router-outlet></router-outlet>
</div>

<div class="footer d-flex justify-content-center mt-5 mb-4">
  <p class="align-middle">
    Created with
    <img src="../assets/angular-512.png" style="width: 1rem;" />
    <img src="../assets/firebase.png" style="width: 0.75rem;" />
    By Achuthan Mukundan
  </p>
</div>
