.container-fluid {
  background-image: url("../../../assets/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  white-space: nowrap;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spanning-text {
  font-weight: bold;
  font-size: 12.2vw;
  mix-blend-mode: overlay;
  color: rgb(56, 56, 56);
}
.pronunciation {
  font-family: 'Noto Serif', serif;
  font-style: italic;
  mix-blend-mode: overlay;
  color: rgb(56, 56, 56);
}
