<div class="container-fluid h-100">
  <div class="media row bg-white justify-content-center">
    <div class="col-">
      <a href="https://mgmt-15d2d.firebaseapp.com"
        ><img
          src="../../assets/safari-pinned-tab.svg"
          class="logo align-self-center p-0"
      /></a>
    </div>
    <div class="media-body col d-none d-sm-block align-self-center mr-3">
      <div class="d-inline-flex py-1">
        <h5 class="mt-0 font-weight-bold font-italic">mgmt.</h5>
        <a href="https://angular.io/" target="_blank"
          ><img
            src="../../assets/angular-512.png"
            class="ml-3 mr-1 align-text-top"
            style="width: auto; height: 1.5rem;"
        /></a>
        <a href="https://firebase.google.com/" target="_blank"
          ><img
            src="../../assets/firebase.png"
            class="ml-1 mr-1 align-text-top"
            style="width: auto; height: 1.5rem;"
        /></a>
        <a href="https://www.algolia.com/" target="_blank"
          ><img
            src="../../assets/algolia.png"
            class="ml-1 align-text-top"
            style="width: auto; height: 1.5rem;"
        /></a>
      </div>
      <p>
        Project management, specifically for students. Track deadlines,
        outstanding tasks, and team member contributions.
      </p>
      <a href="https://mgmt-15d2d.firebaseapp.com" target="_blank" class="mb-0"
        >Take a look here.</a
      >
    </div>
  </div>

  <div class="media row bg-white justify-content-center">
    <div class="col-">
      <a href="https://github.com/achuthanmukundan00/FriendPool"
        ><img
          src="../../assets/ic_launcher-web.png"
          class="logo align-self-center p-0"
      /></a>
    </div>
    <div class="media-body col d-none d-sm-block align-self-center mr-3">
      <div class="d-inline-flex py-1">
        <h5 class="mt-0 font-weight-bold font-italic">FriendPool</h5>
        <a href="https://developer.android.com/studio" target="_blank"
          ><img
            src="../../assets/Android_Studio_icon.svg.png"
            class="ml-3 mr-1 align-text-top"
            style="width: auto; height: 1.5rem;"
        /></a>
      </div>
      <p>An app which makes carpooling easier.</p>
      <a
        href="https://github.com/achuthanmukundan00/FriendPool"
        target="_blank"
        class="mb-0"
        >Take a look here.</a
      >
    </div>
  </div>






</div>
