<div class="container-fluid h-100">
  <div class="media row bg-white justify-content-center">
    <div class="col-">
      <a href="https://mgmt-15d2d.firebaseapp.com"><img src="../../assets/safari-pinned-tab.svg"
          class="logo align-self-center p-0" /></a>
    </div>
    <div class="media-body col d-none d-sm-block align-self-center mr-3">
      <div class="d-inline-flex py-1">
        <h5 class="mt-0 font-weight-bold font-italic">mgmt.</h5>
        <a href="https://angular.io/" target="_blank"><img src="../../assets/angular-512.png"
            class="ml-3 mr-1 align-text-top" style="width: auto; height: 1.5rem;" /></a>
        <a href="https://firebase.google.com/" target="_blank"><img src="../../assets/firebase.png"
            class="ml-1 mr-1 align-text-top" style="width: auto; height: 1.5rem;" /></a>
        <a href="https://www.algolia.com/" target="_blank"><img src="../../assets/algolia.png"
            class="ml-1 align-text-top" style="width: auto; height: 1.5rem;" /></a>
      </div>
      <p>
        Project management, tailored for students. Track deadlines,
        outstanding tasks, and team members' contributions to your project.
      </p>
      <a href="https://mgmt-15d2d.firebaseapp.com" target="_blank" class="mb-0">Take a look here.</a>
    </div>
  </div>

  <div class="media row bg-white justify-content-center">
    <div class="col-">
      <a href="https://github.com/achuthanmukundan00/AutoBell"><img src="../../assets/autobell.png"
          class="logo align-self-center p-0" /></a>
    </div>
    <div class="media-body col d-none d-sm-block align-self-center mr-3">
      <div class="d-inline-flex py-1">
        <h5 class="mt-0 font-weight-bold font-italic">AutoBell</h5>
        <a href="https://opencv.org/" target="_blank"><img src="../../assets/opencv-logo-64x64.png"
            class="ml-3 mr-1 align-text-top" style="width: auto; height: 1.5rem;" /></a>
        <a href="https://www.python.org/" target="_blank"><img src="../../assets/python.png"
            class="ml-1 mr-1 align-text-top" style="width: auto; height: 1.5rem;" /></a>
      </div>
      <p>
        A facial-recognition system which detects visitors to your home;
        alerting you via mobile notifications.
      </p>
    </div>
  </div>

  <div class="media row bg-white justify-content-center">
    <div class="col-">
      <a href="http://utht.ca/"><img src="../../assets/UTHT_logo.png"
          class="logo align-self-center p-0" /></a>
    </div>
    <div class="media-body col d-none d-sm-block align-self-center mr-3">
      <div class="d-inline-flex py-1">
        <h5 class="mt-0 font-weight-bold font-italic">University of Toronto Hyperloop Team</h5>
      </div>
      <p>
        This design team will work to build a hyperloop pod, and compete 
        in the 2020 <i>SpaceX</i> Hyperloop Competition. Currently working as
        part of the the control systems team.
      </p>
      <a href="http://utht.ca/" target="_blank" class="mb-0">Take a look here.</a>
    </div>
  </div>


</div>