.container-fluid {
    background-color: rgb(49, 49, 49);
    padding-top: 10rem;
    padding-bottom: 2rem;
}
.media {
    margin-bottom: 4rem;
    margin-left: 6rem;
    margin-right: 6rem;
    padding: 3rem;
}
.logo {
    width: 12rem !important;
    height: auto !important;
}